 .u-section-1 {
  min-height: 1014px;
}

.u-section-1 .u-image-1 {
  height: 525px;
  width: 900px;
  margin: 438px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-1 {
  font-size: 12rem;
  margin: -942px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 514px);
  min-height: 300px;
  height: auto;
  margin: -257px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 4.5rem;
  margin: 280px calc(((100% - 1140px) / 2) + -19px) 0 calc(((100% - 1140px) / 2) + 626px);
}

.u-section-1 .u-shape-1 {
  width: 163px;
  height: 154px;
  margin: -108px calc(((100% - 1140px) / 2) + -43px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 412px;
    width: 665px;
    margin-top: 396px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-1 {
    font-size: 10.5rem;
    margin-top: -788px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: calc(((100% - 1140px) / 2) + 116px);
  }

  .u-section-1 .u-group-1 {
    width: 544px;
    margin-top: -138px;
    margin-right: calc(((100% - 940px) / 2) + -74px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-bottom: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 112px;
    margin-right: calc(((100% - 1140px) / 2) + 137px);
    margin-left: calc(((100% - 1140px) / 2) + 563px);
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-1 {
    height: 295px;
    width: 470px;
    margin-top: 409px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-1 {
    font-size: 8rem;
    margin-top: -684px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 223px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 618px);
    margin-top: -65px;
    margin-right: calc(((100% - 720px) / 2) + -74px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: 64px;
    margin-right: calc(((100% - 1140px) / 2) + 250px);
    margin-left: calc(((100% - 1140px) / 2) + 553px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -102px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 804px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 357px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: -624px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 309px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 744px);
    margin-top: -52px;
    margin-right: calc(((100% - 540px) / 2) + -74px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 386px;
    margin-right: calc(((100% - 1140px) / 2) + 335px);
    margin-left: calc(((100% - 1140px) / 2) + 373px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -108px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-top: 441px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -12px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -736px;
    margin-left: calc(((100% - 1140px) / 2) + 403px);
    margin-right: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-1 .u-group-1 {
    width: 337px;
    margin-top: -16px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-top: 365px;
    margin-right: calc(((100% - 1140px) / 2) + 450px);
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -96px;
    margin-right: calc(((100% - 1140px) / 2) + 397px);
    margin-bottom: 51px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 784px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 59px auto 60px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/d1558b25d862ef18f4fb36fc1beed18b.jpeg");
  min-height: 715px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 312px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  line-height: 1.4;
  font-size: 2.25rem;
  margin: 27px 0 10px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 403px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 40px 20px 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-image-2 {
  width: 33px;
  height: 34px;
  margin: 29px auto 40px 20px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 417px;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 40px 20px 0 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-image-3 {
  width: 33px;
  height: 34px;
  margin: 109px auto 0 9px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/1274aed79781abca484ca5ad5a6326cf.jpeg");
  min-height: 715px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 806px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 69px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 700px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.7;
    font-size: 1.5rem;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 439px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 23px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
  }

  .u-section-2 .u-image-2 {
    width: 27px;
    margin-bottom: 26px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 439px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 26px;
    margin-right: 40px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 17px;
    margin-right: 12px;
  }

  .u-section-2 .u-image-3 {
    width: 27px;
    margin-top: 85px;
    margin-bottom: 29px;
  }

  .u-section-2 .u-image-4 {
    min-height: 700px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2158px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 525px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin: 19px -20px 0 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 387px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 45px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-image-2 {
    width: 21px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 387px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 45px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 34px;
  }

  .u-section-2 .u-image-3 {
    width: 21px;
    margin-top: 33px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 890px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2 .u-text-1 {
    margin: 22px 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -2px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -2px;
  }

  .u-section-2 .u-image-2 {
    width: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-image-3 {
    width: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2315px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 496px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: -8px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 34px;
    height: 38px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 366px;
  }

  .u-section-2 .u-text-4 {
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    width: 34px;
    height: 44px;
    margin-top: 36px;
    margin-bottom: 19px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-4 {
    min-height: 841px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 932px;
}

.u-section-3 .u-group-1 {
  min-height: 144px;
  height: auto;
  margin: 111px auto 0 0;
}

.u-section-3 .u-line-1 {
  height: 205px;
  transform-origin: center top 0;
  width: 1px;
  margin: -199px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 14px 6px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 6px 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 340px;
  margin: 39px auto 81px 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 642px;
}

.u-section-3 .u-image-1 {
  width: 331px;
  height: 522px;
  object-position: 37.51% 50%;
  background-position: 37.51% 50%;
  margin: 50px 0 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 99px;
  height: 96px;
  margin: -56px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 231px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 348px;
}

.u-section-3 .u-text-3 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-3 .u-text-4 {
  position: relative;
  margin: 20px 20px 30px;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 294px;
}

.u-section-3 .u-text-5 {
  position: relative;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-6 {
  position: relative;
  margin: 20px 20px 25px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 360px;
}

.u-section-3 .u-image-2 {
  width: 341px;
  left: auto;
  right: 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 282px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-3 .u-image-1 {
    width: 273px;
    height: 459px;
    margin-top: 37px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -69px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 298px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    width: 281px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    width: 318px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 250px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 345px;
    left: 0;
    right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2190px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 3px;
    margin-left: 3px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 514px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2095px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-line-1 {
    transform-origin: center bottom 0;
    width: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 92px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1412px;
  margin: 0 auto;
}

.u-section-4 .u-shape-1 {
  width: 258px;
  height: 365px;
  margin: -331px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 312px;
  height: 412px;
  margin: -353px 12px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 792px;
  min-height: 144px;
  height: auto;
  margin: -24px auto 0 0;
}

.u-section-4 .u-text-1 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 36px auto 0 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/dbfce54d70d33744cfcfac381eae4478.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/c6ea97897b7475832b01411c6f15d769.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/8a5523c0396b23082700905e14de79b9.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/f54f53446e2d00239abfdbbe2eeaacc2.jpeg");
  min-height: 366px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 364px;
}

.u-section-4 .u-image-6 {
  width: 336px;
  height: 310px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 105px;
  height: 103px;
  margin: -79px auto 0 0;
}

.u-section-4 .u-image-7 {
  background-image: url("images/e31b59012cd73d363d3cd6c4f89cacfa.jpeg");
  min-height: 729px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 243px;
    height: 323px;
    margin-top: -289px;
  }

  .u-section-4 .u-image-1 {
    width: 277px;
    height: 370px;
    margin-top: -311px;
    margin-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 653px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 17px;
    margin-left: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-5 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-6 {
    width: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1750px;
  }

  .u-section-4 .u-shape-1 {
    width: 275px;
    height: 434px;
    margin-top: -400px;
  }

  .u-section-4 .u-image-1 {
    width: 343px;
    height: 470px;
    margin-top: -419px;
    margin-right: 13px;
  }

  .u-section-4 .u-group-1 {
    width: 500px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2848px;
  }

  .u-section-4 .u-shape-1 {
    width: 322px;
    height: 481px;
    margin-top: -447px;
  }

  .u-section-4 .u-image-1 {
    width: 365px;
    height: 490px;
    margin-top: -455px;
    margin-right: 24px;
  }

  .u-section-4 .u-group-1 {
    width: 469px;
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 10px;
    margin-left: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    width: 513px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2825px;
  }

  .u-section-4 .u-shape-1 {
    width: 265px;
    height: 433px;
    margin-top: -399px;
  }

  .u-section-4 .u-image-1 {
    width: 290px;
    height: 448px;
    margin-top: -419px;
    margin-right: 14px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-6 {
    width: 318px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 609px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/5d4e4f0cc7a15b65e4afdad2f4cf46ec.jpeg");
  min-height: 609px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 609px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  position: relative;
  margin: 60px 0 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 40px auto 60px 0;
}

.u-section-5 .u-image-2 {
  background-image: url("images/433f3e923c80a9f2fb4e115d374e8e6a.jpeg");
  min-height: 609px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 449px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 56px 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 299px;
}

.u-section-6 .u-shape-1 {
  width: 68px;
  height: 71px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 37px 24px 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 299px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-2 {
  font-size: 9.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-6 .u-text-3 {
  margin: -62px 0 15px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 319px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-4 {
  font-size: 9.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-6 .u-text-5 {
  margin: -62px 0 15px;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 319px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-6 {
  font-size: 9.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 15px 0 0;
}

.u-section-6 .u-text-7 {
  margin: -62px 0 15px;
}

.u-section-6 .u-image-1 {
  min-height: 618px;
  background-image: url("images/0ef5e83a7220a4cd055fc1aee247a16f.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-shape-2 {
  width: 68px;
  height: 71px;
  margin: 517px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 81px;
    margin-bottom: 81px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-7 {
  min-height: 233px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 233px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-7 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 233px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-7 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 233px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-7 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-7 .u-layout-cell-4 {
  background-image: none;
  min-height: 233px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-icon-4 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px auto;
}

.u-section-7 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}